---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Contacts | Michael Charles Portfolio">
  <h1>Contact</h1>
  <p>Eventually, some contacts and links!.</p>
</MainLayout>