---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Domains | Michael Charles Portfolio">
  <h1>Domains</h1>
  <p>Relevant 'Domains' of personal and professional interest.</p>
</MainLayout>