/* TODO:
- Content update
*/
---
import MainLayout from "../layouts/MainLayout.astro";
import ExperienceGraph from "../components/Graph/ExperienceGraph.astro";
---

<MainLayout title="Experience Graph | Michael Charles Portfolio">
  <h1>Experience Graph</h1>

  <p>
    This graph connects projects, domains, skills, and tools into a single
    explorable view of my professional profile.
  </p>

  <ExperienceGraph />
</MainLayout>