/* TODO:
- Content update
*/
---
import MainLayout from "../layouts/MainLayout.astro";
import ExperienceGraph from "../components/Graph/ExperienceGraph.astro";
---

<MainLayout title="Experience Graph | Michael Charles Portfolio">
  <h1>Experience Graph</h1>

  <p>
    Explore how my projects, skills, domains and tools connect. Search, highlight, or double-click a node to open its page.
  </p>

  <ExperienceGraph />
</MainLayout>