---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Projects | Michael Charles Portfolio">
  <h1>Projects</h1>
  <p>Case studies and evidence-led project summaries will appear here.</p>
</MainLayout>